.basket-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  right: 0;
  width: 350px;
  top: 0;
  height: 100vh;
  transform: translateY(120px);
  background-color: #ffffff;
  z-index: 50;
  overflow-y: auto;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.056);
  animation: adjustBasket linear forwards;
  animation-timeline: scroll();
  animation-range: 0px 120px;
  will-change: transform;
}

.basket-wrapper h2 {
  font-size: 32px;
  font-weight: 700;
}

@keyframes adjustBasket {
  to {
    transform: translateY(0);
  }
}

.basket-toggle-container {
  display: flex;
  background-color: #f0f0f0;
  border-radius: 12px;
  padding: 4px;
  margin: 16px 0;
  width: 100%;
}

.basket-toggle-deliverinfo {
  font-weight: 400;
}

.toggle-btn {
  flex: 1;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: transparent;
  font-weight: 600;
  font-size: 16px;
  transition: all 0.2s ease;
}

.toggle-btn.active {
  background-color: white;
  color: #e76c1f;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.basket-items-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px;
  background-color: #f0f0f0;
  border-radius: 12px;
  width: 100%;
  box-sizing: border-box;
}

.basket-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 18px;
  font-weight: 400;
}

.basket-container-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 8px;
}

.basket-container-bottom {
  width: 100%;
}

.empty-msg {
  text-align: center;
  color: #a0a0a0;
  padding: 20px 0;
}

.empty-basket{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-button {
  width: 100%;
  background-color:#e76c1f;
  border-radius: 10px;
  padding: 14px 20px;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  box-sizing: border-box;
}

.order-button:hover {
  background-color: #e76c1f;
  color: white;
}

.basket-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid #ddd;
}

.basket-info {
  display: flex;
  gap: 8px;
  align-items: center;
}

.basket-amount {
  font-weight: 700;
}

.basket-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.trash-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  filter: invert(0.5);
}

.trash-icon:hover {
  filter: invert(0.2) sepia(1) saturate(5) hue-rotate(-50deg);
}

.basket-total-row {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  font-size: 20px;
  margin-top: 10px;
  gap: 16px;
}

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-none {
  display: none !important;
}

.dialog-content {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.confirm-btn {
  border-radius: 10px;
  background-color: #e76c1f;
  color: white;
  border: none;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 16px;
  cursor: pointer;
}
