@media (max-width: 1000px) {
  body {
    padding-bottom: 80px; /* 80px für den Warenkorb + 20px Abstand */
  }

  .top-bar {
    padding-right: 0;
  }

  .hero-section {
    width: 100%;
  }

  .content-wrapper {
    margin-right: 0;
    width: 100%;
  }

  .basket-wrapper {
    width: 100%;
    height: 80px;
    top: auto;
    bottom: 0;
    left: 0;
    transform: translateY(0);
    animation: none;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    z-index: 999;
    transition: height 0.3s ease-in-out;
    overflow: hidden;
  }

  .basket-wrapper.open {
    height: 80vh;
    overflow-y: scroll;
  }

  .basket-wrapper h2 {
    text-align: center;
    cursor: pointer;
    width: 100%;
    margin: 0;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
  }

  .basket-wrapper h2::after {
    content: "▲";
    font-size: 16px;
    margin-left: 10px;
    transition: transform 0.3s;
  }

  .basket-wrapper.open h2::after {
    transform: rotate(180deg);
  }

  .basket-toggle-container,
  .basket-items-list,
  .basket-total-row,
  .order-button,
  .empty-basket {
    display: none;
  }

  .basket-wrapper.open .basket-toggle-container,
  .basket-wrapper.open .basket-items-list,
  .basket-wrapper.open .basket-total-row,
  .basket-wrapper.open .order-button,
  .basket-wrapper.open .empty-basket {
    display: flex;
  }

  .dialog-overlay {
    z-index: 10000 !important;
    padding: 16px;
  }

  .dialog-content {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    margin: 0 10px;
  }

  .dialog-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .confirm-btn,
  .close-btn {
    width: 100%;
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  .food-card {
    flex-direction: column;
  }

  .category-headline {
    font-size: 32px;
  }
  .burger-content-inner {
    margin-top: 32px;
  }
}

@media (max-width: 480px) {
  .category-headline {
    font-size: 16px;
  }

  .burger-content-inner {
    margin-top: 16px;
  }

  .price {
    position: unset;
  }
}

@media (max-width: 379px) {
  .burger-content-inner {
    margin-top: 60px;
  }
}

@media (max-width: 351px) {
  .burger-content-inner {
    margin-top: 150px;
  }
}

@media (max-width: 320px) {
  .headline-icon {
    margin-right: 16px;
  }
}
